body {
  background-color: rgb(224, 166, 247);
  background-image: url("../morn.jpg");
  font-family: sans-serif;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  display: flex;
  font-family: sans-serif;
  align-items: center;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  background-color: rgb(224, 166, 247);
}

.header-left {
  align-items: center;
  width: 50%;
  justify-content: center;
  display: flex;
  margin: 0.5px;
  padding: 0.5px;
  border-right: solid #fff;
}

.header-right {
  display: grid;
  width: 50%;
  justify-content: space-around;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  color: hsl(200, 100%, 20%);
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.75px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.container {
  flex-basis: calc(15% - 20px);
  border: 1px solid #dd8fd3;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #dd8fd3;
  background-color: rgba(219, 32, 173, 0.22);
  text-align: center;
  color: #fff;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-search-input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
}

.main-search-input-item input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-search-button {
  padding: 10px 20px;
  background-color: #dd8fd3;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.main-search-button:hover {
  background-color: #d357c2;
}

.btn-primary:active {
  background-color: #ccc;
}

.btn-primary:hover {
  background-color: #dd8fd3;
}
