.background {
  background-image: url("morn.jpg");
  background-size: 700px;
  background-color: blueviolet;
  width: 600px;
  height: 600px;
  border: 2px solid #ff98ff;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.left {
  color: #fff;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid hsl(200, 100%, 10%);
}

.right {
  color: #fff;
}
