body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: #fff;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  background-image: url("../morn.jpg");
  padding: 20px;
  border: 1px solid #f5aff5;
  border-radius: 5px;
}
h1 {
  font-size: 38px;
  font-weight: 300;
  line-height: 38px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
