body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: hsl(0, 0%, 0%);
  background-image: url("clouds.jpg.jpg");
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
  padding: 20px;
  border: 1px solid #f5aff5;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.overview h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

.overview ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overview li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.weather-temperature {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.weather-temperature strong {
  font-size: 70px;
  font-weight: 400;
  margin: 0;
}

.weather-temperature .units {
  font-size: 16px;
  margin-left: 10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast .WeatherForecastPreview {
  margin: 5px;
}

.weather-forecast-date {
  font-size: 15px;
  font-weight: 400;
}

.forecast-time {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}

.tempImg {
  height: 40px;
  width: 40px;
}

.forecast-temperature {
  font-size: 14px;
  font-weight: 400;
}

#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  color: inherit;
}

#fahrenheit-link:hover,
#celsius-link:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0.25rem;
}

.btn {
  background-color: #708098;
  border-color: rgb(139, 147, 147);
  font-weight: 400;
}

small a {
  text-decoration: none;
  color: #708098;
}

.climate {
  position: relative;
  bottom: -65px;
}
